<div class="card border-primary my-3" >
    <div class="card-header">Alumno</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de Alumnos</h5>
      <div class="my-2 text-left">
        <button class="btn btn-primary" [routerLink]="['/form']">Crear Alumno</button>
      </div>
       <div class="alert alert-info" *ngIf="alumno.length==0">
        No hay registros en la base de datos
       </div>
      <table class="table table-bordered table-striped" *ngIf="alumno.length>0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Edad</th>
                <th>Sexo</th>
                <th>Fecha</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let lista of alumno">
                <td>{{lista.id}}</td>
                <td>{{lista.nombre}}</td>
                <td>{{lista.apellido}}</td>
                <td>{{lista.correo}}</td>
                <td>{{lista.edad}}</td>
                <td>{{lista.sexo}}</td>
                <td>{{lista.create_at}}</td>
                <td>
                  <button class="btn btn-primary" [routerLink]="['/form', lista.id]">Editar</button>
                </td>
                <td>
                  <button class="btn btn-danger" role="button" (click)="delete(lista)">Eliminar</button>
                </td>
            </tr>
        </tbody>
       </table>
    </div>
  </div>
